<% dance_moves = Dance.new %>

<h1>Add a New Dance Move</h1>

<form action="/dance" method="post">

 <p>
    <label>What is the name of the move?</label>
    <input type="text" name="dance_move" value="<%= dance_moves["move"] %>">
  </p>

<p>
    <label>How difficult is this move?</label>
    <input type="integer" name="dance_difficulty" value="<%= dance_moves["difficulty"] %>">
  </p>

  <p>
    <label>Do you have a link to a photo?</label>
    <input type="text" name="dance_picture_url" value="<%= dance_moves["picture_url"] %>">
  </p>

<p>
    <label>Do you have a link to a video?</label>
    <input type="text" name="dance_video_url" value="<%= dance_moves["video_url"] %>">
  </p>

  <input type="submit"> or <a href="/dance">Cancel</a>

</form>
